# Dependencies
node_modules/
client/node_modules/

# Outputs
client/dist/
client/build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Python Environment
venv/
/venv/
.venv/
/.venv/


# Environment
.env